body {
    background-image: url(img/3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    width: 100%;
    min-width: 800px;
    transition: width 12s;
}

.devlogo {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    height: 99vh;
}

.devlogo img {
    width: 200px;
    height: 130px;
    opacity: 1;
    transition: 1.3s;
    /* border: 1px solid black; */
}

.devlogo img:hover {
    opacity: 1;
    transition: 1.3s;
}

.qwe {
    text-decoration: none;
    opacity: 1;
    margin-top: 30px;
    text-align: center;
    font-size: 40px;
    font-family: 'Lobster', cursive;
    color: white;
}

.settings img {
    width: 80px;
    height: 80px;
    transition: 1.3s;
    /* border: 1px solid black; */
    margin-left: -40px;
}

.settings img:hover {
    width: 125px;
    height: 125px;
    transition: 1.3s;
}

.qwe {
    transition: 1.3s;
    /* border: 1px solid black; */
}

.qwe::before {
    content: "Chinchilla.md";
    opacity: 0.9;
    margin-left: 40px;
}

qwe:hover {}